# https://habr.com/ru/post/141424/
# https://youtu.be/nGHfiWjIDr8
# https://codex.so/htaccess

AddDefaultCharset UTF-8

# https://habr.com/ru/sandbox/90459/
#Options +FollowSymlinks
#Options +SymLinksIfOwnerMatch

RewriteEngine On

# https://coderoad.ru/704102/
RewriteBase /

RewriteRule ^(.*)$ /public/$1
