body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #fafafa;
    padding-top: 70px;
}

a {
    color: #4550e6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70px;
    padding: 15px;
}

.page-nav {
    display: flex;
    align-items: center;
}

.page-nav .nav-item {
    color: #5d6778;
    font-weight: 600;
    margin-left: 32px;
}

.site-logo {
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #2f2f2f;
}

.site-logo span {
    font-weight: 300;
}

.site-logo:hover {
    text-decoration: none;
}

.page-main {
    position: relative;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.contact-section {
    width: 100%;
    min-height: 900px;
    background-image: url("../img/main/satellite-map.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 64px;
    margin-top: 350px;
}

.contact-header {
    display: flex;
    justify-content: space-around;
    padding: 45px 0;
}

.contact-form {
    padding: 45px;
}

.contact-form .intro {
    margin-bottom: 1.6rem;
}

.auth-form-wrapper {
    max-width: 480px;
    flex-basis: 480px;
    margin: 72px auto;
}

.auth-form {
    padding: 45px;
}

.auth-form .form-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 28px;
}

.form-extra {
    font-size: .85rem;
    color: #828d9f;
    line-height: 1;
}

.form-extra a {
    color: #828d9f;
    text-decoration: underline;
}

.form-extra a:hover {
    color: #5d6778;
}

.auth-option {
    padding-top: 28px;
}

.account-wrapper {
    width: 100%;
    padding: 30px 0;
}

.side-nav {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex: 0 0 300px;
    margin-bottom: 30px;
}

.side-nav-item {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.side-nav-item:last-child {
    border: none;
}

.side-nav-item:hover {
    background-color: #828d9f;
    color: #fff;
    text-decoration: none;
}

.content-section {
    flex: 1;
    margin-left: 30px;
    padding: 15px 30px;
}

